/* Fondo general */
.home-screen {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/BgLogin2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  display: flex;
  color: white;
}

/* Contenido principal */
.main-content {
  flex: 1;
  margin-left: 115px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
  margin-right: 40px;
}

/* Primera línea */
.first-line {
  display: flex;
  gap: 20px;
  height: 100%; /* Mayor altura para gráficos más grandes */
}

/* Contenedor de gráficos */
.chart-container {
  display: flex;
  flex-direction: column;
  flex: 85%; /* Mantener el 55% para los gráficos */
  background-color: #293238;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 15px 20px;
  position: relative;
  gap: 10px;
}

/* Barra superior del contenedor de gráficos */
.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 5px 0 10px;
  overflow: hidden;
}

.chart-header span {
  cursor: pointer;
}

.chart-header span:last-child {
  color: #d3d3d3;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.chart-header span:last-child:hover {
  color: white;
}

/* Gráficos */
.chart-group {
  display: flex;
  justify-content: space-between;
  gap: 5px; /* Reducir espacio entre gráficos */
  height: 100%;
}

/* Líneas divisorias entre gráficos */
.chart-divider {
  width: 1.5px;
  background-color: #404950;
  height: 100%;
}

/* Gráfico */
.chart {
  flex: 1;
  max-width: 260px; /* Mantener un ancho máximo adecuado */
  min-width: 180px;
  height: 320px; /* Incrementar el alto */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

/* Información debajo del gráfico */
.chart-info {
  text-align: left; /* Alinear a la izquierda */
  margin-top: 20px;
  padding: 10px 0;
}

.chart-info h4 {
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 8px 0;
}

.chart-info h2 {
  font-size: 26px;
  font-weight: 200;
  margin: 0 0 12px 0;
  color: white;
}

.chart-info p {
  display: flex; /* Flexbox para la alineación */
  justify-content: space-between;
  font-size: 14px;
  color: #d3d3d3;
  margin: 4px 0;
}

/* Reducción de padding en el contenedor de texto */
.chart-info p span:first-child {
  text-align: left;
}

.chart-info p span:last-child {
  text-align: right;
}

/* Card adicional */
.large-card {
  flex: 45%;
  background-color: #293238;
  border-radius: 25px;
  padding-inline: 10px;
  padding-bottom: 7%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  overflow: hidden;
}

/* Segunda línea */
.second-line {
  display: flex;
  gap: 20px;
  height: 180px; /* Reducimos la altura de la segunda línea */
}

/* Sección de progreso */
.progress-section {
  flex: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.progress-card {
  background-color: #293238;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.progress-bar {
  background-color: #404950;
  border-radius: 15px;
  height: 20px;
  overflow: hidden;
  margin: 10px 0;
}

.progress {
  background-color: #8b428d;
  height: 100%;
  width: 0;
  transition: width 0.3s ease-in-out;
}

/* Tabla de categorías */
.table-card {
  flex: 50%;
  background-color: #293238;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.table-card table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.table-card th,
.table-card td {
  padding: 10px;
  text-align: left;
}

.table-card th {
  background-color: #404950;
}

.table-card tr:nth-child(even) {
  background-color: #2d353b;
}
/* Estilos card salud financiera */
