/* Fondo general para Analytics */
.admin-screen-analytics {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/BgLogin2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  display: flex;
  color: white;
  flex-direction: column;
  overflow: hidden; /* Evita scroll en el contenedor principal */
}

/* Contenido principal */
.main-content-analytics {
  flex: 1;
  margin-left: 115px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
  margin-right: 40px;
  box-sizing: border-box;
  overflow-y: auto; /* Habilita el scroll solo en el eje Y */
  scrollbar-width: thin; /* Establece el grosor de la barra de desplazamiento (solo Firefox) */
  scrollbar-color: #293238 #1f2224; /* Color de la barra y el fondo del scroll (color de las cards) */
}

/* Personalización de la barra de desplazamiento para navegadores basados en Webkit (Chrome, Safari) */
.main-content-analytics::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.main-content-analytics::-webkit-scrollbar-track {
  background: #2e3538; /* Color de fondo de la barra de desplazamiento */
  border-radius: 10px;
}

.main-content-analytics::-webkit-scrollbar-thumb {
  background-color: #8b428d; /* Color de la barra de desplazamiento */
  border-radius: 10px;
  border: 2px solid #2e3538; /* Agrega un borde minimalista alrededor de la barra */
}

/* Primera sección - Recuadros de actividad */
.first-line-analytics {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas */
  gap: 20px;
  height: 340px;
}

/* Estilos de la card de actividad */
.activity-card-analytics {
  background-color: #293238;
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  flex: 1;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Añadimos cursor pointer para que el usuario sepa que es interactivo */
  transition: all 0.3s ease; /* Añadimos transición para el efecto de clic */
  position: relative; /* Asegura que las tarjetas estén por encima del gráfico */
}

/* Efecto cuando la card está seleccionada */
.activity-card-analytics.selected-analytics {
  background-color: #8b428d; /* Gris más claro */
  transform: scale(1.05); /* Aumenta un poco el tamaño de la card */
}

/* Estilos de texto dentro de las cards */
.activity-card-analytics h3 {
  font-size: 16px;
  font-weight: 300;
  color: #d3d3d3;
  margin: 5px 0 0;
}

.activity-card-analytics h2 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin: 10px 0 0;
}

/* Efecto de cursor de puntero */
.activity-card-analytics:hover {
  cursor: pointer; /* Cambia el cursor a mano */
}

/* Sección de gráfico */
.graph-section-analytics {
  margin-top: 20px; /* Espacio entre las cards y el gráfico */
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

/* Ajustes en la Card Contenedora */
.graph-card-analytics {
  background-color: #293238;
  border-radius: 15px;
  width: 80%; /* Reducimos el tamaño de la card contenedora */
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
  height: auto;
  margin: 0 auto; /* Centrado automático */
}

/* Sección de gráfico dinámico */
.graph-section-analytics {
  margin-top: 20px;
  width: 100%;
  height: auto; /* Ajustado para adaptarse al contenido */
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-start;
}

/* Card contenedora del gráfico */
.graph-card-analytics {
  background-color: #293238;
  border-radius: 15px;
  width: 100%; /* Ajuste al 100% del contenedor */
  max-width: 900px; /* Limitar el ancho máximo de la card */
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
  margin: 0 auto; /* Centrado */
  height: auto;
  margin-bottom: 30px;
}

/* Contenedor del gráfico */
.graph-container-analytics {
  border-radius: 10px;
  padding: 15px; /* Reducir el padding para mayor espacio */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3d3d3;
  position: relative;
  flex-grow: 1;
  min-width: 0%; /* El gráfico ocupa todo el ancho disponible */
  height: 60vh; /* Mantener altura flexible */
  max-width: 850px; /* Limitar el ancho máximo del gráfico */
  margin: 0 auto;
}
line-graph-container {
  width: 700px;
  height: 600px;
}