@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Logo flotante (fuera del Sidebar) */
.floating-logo {
  position: absolute;
  top: 30px;
  left: 45px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.floating-logo img {
  width: 40px;
  height: 40px;
}

/* Sidebar General */
.sidebar {
  position: fixed;
  left: 40px;
  width: 50px;
  background-color: #293238;
  border-radius: 25px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  z-index: 10;
  box-sizing: border-box;
}

/* Sidebar Superior */
.sidebar-top {
  top: 100px; /* Comienza debajo del logo */
  height: auto; /* Ajusta la altura al contenido */
  justify-content: flex-start;
}

/* Sidebar Inferior */
.sidebar-bottom {
  bottom: 20px; /* Pegado al final */
  height: auto;
  justify-content: flex-end;
}

/* Navegación */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Espaciado entre botones */
}

/* Botones del Sidebar */
.sidebar-item {
  width: 98%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e454c;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: solid 2px;
  border-color: #293137;
  margin: 2px;
}

/* Botón activo */
.sidebar-item.active {
  background-color: #8b428d;
  color: white;
}

/* Hover */
.sidebar-item:hover {
  background-color: #5a5f64;
}
